{% extends 'main/layoute.html' %}

{% block title %}
   <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

    <h1>Урок номер 2 по изучению фреймворка Django</h1>

    <h6>Django — это мощный и удобный фреймворк для разработки веб-приложений на языке Python. В рамках этого урока мы рассмотрим, как настроить проект, создать базовые страницы и подключить стили с помощью Bootstrap. Это позволит вам быстро создать веб-приложение с современным и адаптивным дизайном.</h6>

    <p>Одним из основных преимуществ Django является его удобная структура, которая помогает отделить логику приложения от представления данных. Это делает код более организованным и легко поддерживаемым. В уроке номер 2 мы подробно изучим концепцию шаблонов и узнаем, как создавать страницы с динамическим контентом.</p>

    <p>В Django используются шаблоны для генерации HTML-страниц. Шаблон может включать динамический контент, который передается из представлений. Это позволяет создавать веб-страницы, которые изменяются в зависимости от передаваемых данных. Например, можно отобразить список товаров в интернет-магазине или профиль пользователя.</p>

    <p>Мы также рассмотрим основы работы с базами данных в Django, включая настройку модели и миграции. Это важная часть работы с данными в любом веб-приложении. Django предоставляет удобный ORM (Object-Relational Mapping), который позволяет взаимодействовать с базой данных с помощью Python-кода, не используя напрямую SQL-запросы.</p>

    <p>Завершим урок рассмотрением того, как настроить маршрутизацию в приложении Django, что позволит создавать ссылки на различные страницы вашего сайта и обрабатывать запросы пользователей. Правильная маршрутизация помогает эффективно управлять логикой переходов между страницами и взаимодействием с пользователями.</p>

    <p>Следуйте нашим инструкциям, и вы сможете создать собственное веб-приложение на Django, добавив необходимые функции и стили с помощью Bootstrap.</p>

{% endblock %}

