<div class="list-group">
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action active">Главная страница</a>
    <a href="{% url 'page2' %}" class="list-group-item list-group-item-action">Вторая страница</a>
    <a href="{% url 'page3' %}" class="list-group-item list-group-item-action">Третья страница</a>
    <a href="{% url 'page4' %}" class="list-group-item list-group-item-action">Четвертая страница</a>
    <a href="{% url 'news_home' %}" class="list-group-item list-group-item-action">Новостная страница</a>
</div>
